html,body{margin:0;padding:0;}
h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,cite,code,del,dfn,em,img,q,s,samp,small,strike,strong,sub,sup,tt,var,dd,dl,dt,li,ol,ul,fieldset,form,label,legend,button,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;font-weight:normal;font-style:normal;font-size:100%;line-height:1;font-family:inherit;}
table{border-collapse:collapse;border-spacing:0;}
ol,ul{list-style:none;}
q:before,q:after,blockquote:before,blockquote:after{content:"";}
html{overflow-y:scroll;font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
body{min-height:100%;margin:0 auto;}
a:focus{outline:thin dotted;}
a:hover,a:active{outline:0;}
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block;}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1;}
audio:not([controls]){display:none;}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sup{top:-0.5em;}
sub{bottom:-0.25em;}
img{border:0;-ms-interpolation-mode:bicubic;}
button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle;}
button,input{line-height:normal;*overflow:visible;}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}
button,input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button;}
input[type="search"]{-webkit-appearance:textfield;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;}
input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}
textarea{overflow:auto;vertical-align:top;}
.center_block{display:block;margin:0 auto;}
#reset .global-reset html,#reset .global-reset body,#reset .global-reset div,#reset .global-reset span,#reset .global-reset applet,#reset .global-reset object,#reset .global-reset iframe,#reset .global-reset h1,#reset .global-reset h2,#reset .global-reset h3,#reset .global-reset h4,#reset .global-reset h5,#reset .global-reset h6,#reset .global-reset p,#reset .global-reset blockquote,#reset .global-reset pre,#reset .global-reset a,#reset .global-reset abbr,#reset .global-reset acronym,#reset .global-reset address,#reset .global-reset big,#reset .global-reset cite,#reset .global-reset code,#reset .global-reset del,#reset .global-reset dfn,#reset .global-reset em,#reset .global-reset img,#reset .global-reset ins,#reset .global-reset kbd,#reset .global-reset q,#reset .global-reset s,#reset .global-reset samp,#reset .global-reset small,#reset .global-reset strike,#reset .global-reset strong,#reset .global-reset sub,#reset .global-reset sup,#reset .global-reset tt,#reset .global-reset var,#reset .global-reset b,#reset .global-reset u,#reset .global-reset i,#reset .global-reset center,#reset .global-reset dl,#reset .global-reset dt,#reset .global-reset dd,#reset .global-reset ol,#reset .global-reset ul,#reset .global-reset li,#reset .global-reset fieldset,#reset .global-reset form,#reset .global-reset label,#reset .global-reset legend,#reset .global-reset table,#reset .global-reset caption,#reset .global-reset tbody,#reset .global-reset tfoot,#reset .global-reset thead,#reset .global-reset tr,#reset .global-reset th,#reset .global-reset td,#reset .global-reset article,#reset .global-reset aside,#reset .global-reset canvas,#reset .global-reset details,#reset .global-reset embed,#reset .global-reset figure,#reset .global-reset figcaption,#reset .global-reset footer,#reset .global-reset header,#reset .global-reset hgroup,#reset .global-reset menu,#reset .global-reset nav,#reset .global-reset output,#reset .global-reset ruby,#reset .global-reset section,#reset .global-reset summary,#reset .global-reset time,#reset .global-reset mark,#reset .global-reset audio,#reset .global-reset video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
#reset .global-reset body{line-height:1;}
#reset .global-reset ol,#reset .global-reset ul{list-style:none;}
#reset .global-reset table{border-collapse:collapse;border-spacing:0;}
#reset .global-reset caption,#reset .global-reset th,#reset .global-reset td{text-align:left;font-weight:normal;vertical-align:middle;}
#reset .global-reset q,#reset .global-reset blockquote{quotes:none;}#reset .global-reset q:before,#reset .global-reset blockquote:before,#reset .global-reset q:after,#reset .global-reset blockquote:after{content:"";content:none;}
#reset .global-reset a img{border:none;}
#reset .global-reset article,#reset .global-reset aside,#reset .global-reset details,#reset .global-reset figcaption,#reset .global-reset figure,#reset .global-reset footer,#reset .global-reset header,#reset .global-reset hgroup,#reset .global-reset menu,#reset .global-reset nav,#reset .global-reset section{display:block;}
#reset .reset-box-model{margin:0;padding:0;border:0;}
#reset .reset-font{font-size:100%;font:inherit;vertical-align:baseline;}
#reset .reset-focus{outline:0;}
#reset .reset-body{line-height:1;}
#reset .reset-list-style{list-style:none;}
#reset .reset-table{border-collapse:collapse;border-spacing:0;}
#reset .reset-table-cell{text-align:left;font-weight:normal;vertical-align:middle;}
#reset .reset-quotation{quotes:none;}#reset .reset-quotation:before,#reset .reset-quotation:after{content:"";content:none;}
#reset .reset-image-anchor-border{border:none;}
#reset .reset-html5 article,#reset .reset-html5 aside,#reset .reset-html5 details,#reset .reset-html5 figcaption,#reset .reset-html5 figure,#reset .reset-html5 footer,#reset .reset-html5 header,#reset .reset-html5 hgroup,#reset .reset-html5 menu,#reset .reset-html5 nav,#reset .reset-html5 section{display:block;}
html{font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:16px;font-weight:normal;line-height:24px;}
body,select,input,textarea{color:#404040;}
p,.p{font-family:"Georgia",Times New Roman,Times,serif;font-size:16px;font-weight:normal;line-height:24px;margin-bottom:24px;}p small,.p small,p .small,.p .small{font-size:87.5%;line-height:1;font-weight:inherit;}
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{font-weight:bold;color:#049cdb;}h1 small,h2 small,h3 small,h4 small,h5 small,h6 small,.h1 small,.h2 small,.h3 small,.h4 small,.h5 small,.h6 small,h1 .small,h2 .small,h3 .small,h4 .small,h5 .small,h6 .small,.h1 .small,.h2 .small,.h3 .small,.h4 .small,.h5 .small,.h6 .small{color:#bfbfbf;font-size:75%;font-weight:normal;}
h1,.h1{font-size:68px;line-height:72px;margin-top:24px;margin-bottom:48px;}h1.lrg,.h1.lrg{font-size:110px;line-height:120px;margin-top:24px;margin-bottom:48px;}
h2,.h2{font-size:42px;line-height:48px;margin-top:48px;margin-bottom:24px;}
h3,.h3{font-size:26px;line-height:48px;margin-top:24px;margin-bottom:0;}
h4,.h4{font-size:20px;line-height:24px;margin-top:48px;margin-bottom:0;}
h5,.h5{font-size:16px;margin-top:0;margin-bottom:0;line-height:24px;font-weight:normal;}
h6,.h6{font-size:1%;margin-top:0;margin-bottom:0;line-height:24px;font-weight:normal;}
label,input,select,textarea{font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:13px;font-weight:normal;line-height:normal;}
b,strong{font-weight:bold;font-style:inherit;}
q,i,em,cite{font-weight:inherit;font-style:italic;}
dfn{font-style:italic;}
mark{background:#ff0;color:#000;}
ins,del{text-decoration:line-through;}
ul.nrml,ol.nrml{margin:0 0 1.5em 45px;font-size:16px;}ul.nrml ul,ol.nrml ul,ul.nrml ol,ol.nrml ol{margin:0 0 0 45px;}
ul.nrml ul,ol.nrml ul{list-style-type:circle;}ul.nrml ul ul,ol.nrml ul ul{list-style-type:square;}
ul.nrml ol,ol.nrml ol{list-style-type:upper-roman;}ul.nrml ol ol,ol.nrml ol ol{list-style-type:lower-roman;}
ul.nrml li,ol.nrml li{line-height:24px;}
ul.nrml{list-style-type:disc;}
ol.nrml{list-style-type:decimal;}
dl{margin-bottom:24px;}dl dt,dl dd{line-height:24px;}
dl dt{font-weight:bold;}
dl dd{margin-left:12px;}
blockquote{margin:24px 0;border-left:5px solid #eee;padding:15px;}blockquote p{font-size:20px;font-weight:300;line-height:24px;margin-bottom:0;}blockquote p b{display:block;}blockquote p b:before{content:'\2014 \00A0 ';}
a:link,a:visited{color:#db4304;text-decoration:none;}
a:link{-webkit-tap-highlight-color:#db4304;}
a:hover{color:#fec5ad;}
a:hover,a:active{outline:none;}
a:focus{text-shadow:#61a0ff 0 0 7px;outline:thin dotted;}
a.more_link:after,a.more_link::after{content:" »";}
.text_left{text-align:left;}
.text_right{text-align:right;}
.text_center,.text_centre{text-align:center;}
#container{width:90%;margin:0 auto;}
.column{width:auto;float:none;}
@media screen and (min-width:480px){#container{-webkit-text-size-adjust:none;} ul.nrml,ol.nrml{margin:0 0 1.5em 25px;}ul.nrml ul,ol.nrml ul,ul.nrml ol,ol.nrml ol{margin:0 0 0 25px;} dd{margin-left:25px;} img.left,img.right{max-width:50%;height:auto;}}@media screen and (min-width:768px){#container{width:696px;padding:0 13px;} .row{margin:0 auto;} .row .row{margin:0 -26px;width:auto;display:inline-block;} .column{margin:0 13px;float:left;display:inline;position:relative;} .grid_1{width:32px;} .grid_2{width:90px;} .grid_3{width:148px;} .grid_4{width:206px;} .grid_5{width:264px;} .grid_6{width:322px;} .grid_7{width:380px;} .grid_8{width:438px;} .grid_9{width:496px;} .grid_10{width:554px;} .grid_11{width:612px;} .grid_12{width:670px;} .row>.offset1{margin-left:71px;} .row>.offset2{margin-left:129px;} .row>.offset3{margin-left:187px;} .row>.offset4{margin-left:245px;} .row>.offset5{margin-left:303px;} .row>.offset6{margin-left:361px;} .row>.offset7{margin-left:419px;} .row>.offset8{margin-left:477px;} .row>.offset9{margin-left:535px;} .row>.offset10{margin-left:593px;} .row>.offset11{margin-left:651px;} .row>.offset12{margin-left:709px;} .row>.push2{left:116px;} .row>.push3{left:174px;} .row>.push4{left:232px;} .row>.push5{left:290px;} .row>.push6{left:348px;} .row>.push7{left:406px;} .row>.push8{left:464px;} .row>.push9{left:522px;} .row>.push10{left:580px;} .row>.pull2{right:116px;} .row>.pull3{right:174px;} .row>.pull4{right:232px;} .row>.pull5{right:290px;} .row>.pull6{right:348px;} .row>.pull7{right:406px;} .row>.pull8{right:464px;} .row>.pull9{right:522px;} .row>.pull10{right:580px;} ul.nrml,ol.nrml{margin:0 0 1.5em 60px;}ul.nrml ul,ol.nrml ul,ul.nrml ol,ol.nrml ol{margin:0 0 0 60px;} dd{margin-left:60px;}}@media screen and (min-width:992px){#container{width:924px;padding:0 16px;} .row .row{margin:0 -32px;} .column{margin:0 16px;} .grid_1{width:45px;} .grid_2{width:122px;} .grid_3{width:199px;} .grid_4{width:276px;} .grid_5{width:353px;} .grid_6{width:430px;} .grid_7{width:507px;} .grid_8{width:584px;} .grid_9{width:661px;} .grid_10{width:738px;} .grid_11{width:815px;} .grid_12{width:892px;} .row>.offset1{margin-left:93px;} .row>.offset2{margin-left:170px;} .row>.offset3{margin-left:247px;} .row>.offset4{margin-left:324px;} .row>.offset5{margin-left:401px;} .row>.offset6{margin-left:478px;} .row>.offset7{margin-left:555px;} .row>.offset8{margin-left:632px;} .row>.offset9{margin-left:709px;} .row>.offset10{margin-left:786px;} .row>.offset11{margin-left:863px;} .row>.offset12{margin-left:940px;} .row>.push2{left:154px;} .row>.push3{left:231px;} .row>.push4{left:308px;} .row>.push5{left:385px;} .row>.push6{left:462px;} .row>.push7{left:539px;} .row>.push8{left:616px;} .row>.push9{left:693px;} .row>.push10{left:770px;} .row>.pull2{right:154px;} .row>.pull3{right:231px;} .row>.pull4{right:308px;} .row>.pull5{right:385px;} .row>.pull6{right:462px;} .row>.pull7{right:539px;} .row>.pull8{right:616px;} .row>.pull9{right:693px;} .row>.pull10{right:770px;}}@media screen and (min-width:1382px){#container{width:1284px;padding:0 21px;} .row .row{margin:0 -42px;} .column{margin:0 21px;} .grid_1{width:65px;} .grid_2{width:172px;} .grid_3{width:279px;} .grid_4{width:386px;} .grid_5{width:493px;} .grid_6{width:600px;} .grid_7{width:707px;} .grid_8{width:814px;} .grid_9{width:921px;} .grid_10{width:1028px;} .grid_11{width:1135px;} .grid_12{width:1242px;} .row>.offset1{margin-left:128px;} .row>.offset2{margin-left:235px;} .row>.offset3{margin-left:342px;} .row>.offset4{margin-left:449px;} .row>.offset5{margin-left:556px;} .row>.offset6{margin-left:663px;} .row>.offset7{margin-left:770px;} .row>.offset8{margin-left:877px;} .row>.offset9{margin-left:984px;} .row>.offset10{margin-left:1091px;} .row>.offset11{margin-left:1198px;} .row>.offset12{margin-left:1305px;} .row>.push2{left:214px;} .row>.push3{left:321px;} .row>.push4{left:428px;} .row>.push5{left:535px;} .row>.push6{left:642px;} .row>.push7{left:749px;} .row>.push8{left:856px;} .row>.push9{left:963px;} .row>.push10{left:1070px;} .row>.pull2{right:214px;} .row>.pull3{right:321px;} .row>.pull4{right:428px;} .row>.pull5{right:535px;} .row>.pull6{right:642px;} .row>.pull7{right:749px;} .row>.pull8{right:856px;} .row>.pull9{right:963px;} .row>.pull10{right:1070px;}}.row .centered,.row .centred{float:none;margin:0 auto;display:block;}
.column:before,.column:after,.row:before,.row:after{content:"";display:table;}
.column:after,.row:after{clear:both;}
.column,.row{zoom:1;}
.block_grid{display:block;overflow:hidden;}
.block_grid>li{display:block;height:auto;float:left;}
.block_grid.two_up{margin-left:-4%;}
.block_grid.two_up>li{margin-left:4%;width:46%;}
.block_grid.three_up{margin-left:-2%;}
.block_grid.three_up>li{margin-left:2%;width:31.3%;}
.block_grid.four_up{margin-left:-2%;}
.block_grid.four_up>li{margin-left:2%;width:23%;}
.block_grid.five_up{margin-left:-1.5%;}
.block_grid.five_up>li{margin-left:1.5%;width:18.5%;}
.keywords{list-style:none;margin:0 0 1.5em;}
.keywords li{display:inline;text-transform:lowercase;}
.keywords li:first-of-type{text-transform:capitalize;}
.keywords li:after,.keywords li::after{content:", ";}
.keywords li:last-of-type:after,.keywords li:last-of-type::after{content:".";}
.breadcrumb{margin:0;list-style:none;}
.breadcrumb li{display:inline;font-weight:bold;}
.breadcrumb a{display:inline-block;font-weight:normal;}
.breadcrumb li:before{content:"\0020\00BB\0020";}
.breadcrumb li:first-child:before{content:normal;}
.centred,.centered{text-align:center;}
.centred li,.centered li{display:inline;float:none;}
.centred a,.centered a{display:inline-block;}
.horiz,.vert{overflow:hidden;border:1px solid #dcdcdc;border-radius:3px;}
.horiz li{float:left;}
.horiz a{border-right:1px solid #dcdcdc;}
.horiz a,.vert a{display:block;padding:5px 10px;background:#f5f5f5;}
.vert{margin-bottom:1.5em;}
.vert a{padding-left:10px;border-bottom:1px solid #ddd;}
.horiz li:last-child a,.vert li:last-child a{border:none;}
.horiz,.vert{background:#f5f5f5;}
.horiz a,.vert a{font-size:0.9em;}
.floated li{float:left;display:inline-block;}
.floated.half li{width:46%;padding:2%;}
.floated.thirds.nopad li{width:33.3333333333333333%;}
.floated.thirds li{width:29%;}
.message{font-weight:normal;display:block;padding:10px 10px 10px 36px;border:1px solid #ccc;margin:0 0 1.5em 0;-webkit-border-radius:3px;-moz-border-radius:3px;-o-border-radius:3px;border-radius:3px;-webkit-box-shadow:0 1px 0 rgba(255, 255, 255, 0.5) inset;-moz-box-shadow:0 1px 0 rgba(255, 255, 255, 0.5) inset;-o-box-shadow:0 1px 0 rgba(255, 255, 255, 0.5) inset;box-shadow:0 1px 0 rgba(255, 255, 255, 0.5) inset;}
.error{border-color:#fb5766;background:url("/img/ui/error.png") 10px center no-repeat #ffaabb;}
.success{border-color:#83ba77;background:url("/img/ui/success.png") 10px center no-repeat #d1feba;}
.info{border-color:#85a5be;background:url("/img/ui/info.png") 10px center no-repeat #c4dbec;}
.warning{border-color:#d8d566;background:url("/img/ui/warning.png") 10px center no-repeat #fef8c4;}
ul.message{list-style:decimal outside;padding:10px 10px 10px 56px;}
ul.pagination{display:block;height:24px;margin-left:-5px;}
ul.pagination li{float:left;display:block;height:24px;color:#999;font-size:15px;margin-left:5px;}
ul.pagination li a{display:block;padding:6px 7px 4px;color:#555;}
ul.pagination li.current a,ul.pagination li:hover a,ul.pagination li a:focus{border-bottom:solid 2px #00a6fc;color:#141414;}
ul.pagination li.unavailable a{cursor:default;color:#999;}
ul.pagination li.unavailable:hover a,ul.pagination li.unavailable a:focus{border-bottom:none;}
img{font-style:italic;color:#c00;border:0;-ms-interpolation-mode:bicubic;}
img.left{margin:0 20px 0 0;}
img.right{margin:0 0 0 20px;}
svg:not(:root){overflow:hidden;}
img,object,embed,video{max-width:100%;}
.flex-video{position:relative;padding-top:25px;padding-bottom:67.5%;height:0;margin-bottom:16px;overflow:hidden;}
.flex-video.widescreen{padding-bottom:57.25%;}
.flex-video.vimeo{padding-top:0;}
.flex-video iframe,.flex-video object,.flex-video embed{position:absolute;top:0;left:0;width:100%;height:100%;}
.panel{padding:20px 20px 2px 20px;background-color:#fbfbfb;background-image:-moz-linear-gradient(top, #ffffff, #f4f4f4);background-image:-ms-linear-gradient(top, #ffffff, #f4f4f4);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f4f4f4));background-image:-webkit-linear-gradient(top, #ffffff, #f4f4f4);background-image:-o-linear-gradient(top, #ffffff, #f4f4f4);background-image:linear-gradient(top, #ffffff, #f4f4f4);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f4f4f4', GradientType=0);-webkit-box-shadow:0px 2px 5px rgba(0, 0, 0, 0.15);-moz-box-shadow:0px 2px 5px rgba(0, 0, 0, 0.15);-o-box-shadow:0px 2px 5px rgba(0, 0, 0, 0.15);box-shadow:0px 2px 5px rgba(0, 0, 0, 0.15);margin:0 0 20px 0;}
ul.tabs{display:block;padding:0;border-bottom:solid 1px #ddd;margin-top:5px;}ul.tabs li{display:block;width:auto;height:30px;padding:0;float:left;margin-bottom:0;}ul.tabs li a{display:block;text-decoration:none;width:auto;height:29px;padding:0px 20px;line-height:30px;border:solid 1px #ddd;border-width:1px 0 0 1px;margin:0;background:#f5f5f5;font-size:.9em;}ul.tabs li a.active{background:#fff;height:30px;position:relative;top:-4px;padding-top:4px;border-right-width:1px;margin:0 -1px 0 0;color:#111;-webkit-border-radius:3px 3px 0 0;-moz-border-radius:3px 3px 0 0;-o-border-radius:3px 3px 0 0;border-radius:3px 3px 0 0;}
ul.tabs li:first-child a{-webkit-border-radius:2px 0 0 0;-moz-border-radius:2px 0 0 0;-o-border-radius:2px 0 0 0;border-radius:2px 0 0 0;}
ul.tabs li:last-child a{border-width:1px 1px 0 1px;-webkit-border-radius:0 2px 0 0;-moz-border-radius:0 2px 0 0;-o-border-radius:0 2px 0 0;border-radius:0 2px 0 0;}
ul.tabs_content{margin:1.5em 0 0 0;display:block;}ul.tabs_content.contained{margin:-1px 0 1.5em 0;}
ul.tabs_content.contained li{border:1px solid #ddd;padding:0 16px 16px;-webkit-border-radius:0 0 3px 3px;-moz-border-radius:0 0 3px 3px;-o-border-radius:0 0 3px 3px;border-radius:0 0 3px 3px;}
ul.tabs_content.contained :last-child{margin-bottom:0;}
ul.tabs_content>li{display:none;}
ul.tabs_content>li.active{display:block;}
.btn{display:inline-block;padding:4px 10px 4px;margin-bottom:0;font-size:16px;line-height:24px;color:#404040;text-align:center;text-shadow:0 1px 1px rgba(255, 255, 255, 0.75);vertical-align:middle;background-color:#f5f5f5;background-image:-moz-linear-gradient(top, #ffffff, #e6e6e6);background-image:-ms-linear-gradient(top, #ffffff, #e6e6e6);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));background-image:-webkit-linear-gradient(top, #ffffff, #e6e6e6);background-image:-o-linear-gradient(top, #ffffff, #e6e6e6);background-image:linear-gradient(top, #ffffff, #e6e6e6);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);border-color:#e6e6e6 #e6e6e6 #bfbfbf;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);border:1px solid #ccc;border-bottom-color:#bbb;-webkit-border-radius:4px;-moz-border-radius:4px;-o-border-radius:4px;border-radius:4px;-webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);-moz-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);-o-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);cursor:pointer;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);*margin-left:.3em;}.btn:hover,.btn:active,.btn.active,.btn.disabled,.btn[disabled]{background-color:#e6e6e6;}
.btn:active,.btn.active{background-color:#cccccc \9;}
.btn:first-child{*margin-left:0;}
.btn:hover{color:#404040;text-decoration:none;background-color:#e6e6e6;background-position:0 -15px;-webkit-transition:background-position 0.1s linear;-moz-transition:background-position 0.1s linear;-o-transition:background-position 0.1s linear;transition:background-position 0.1s linear;-webkit-transition:background-position 0.1s linear;-moz-transition:background-position 0.1s linear;-o-transition:background-position 0.1s linear;transition:background-position 0.1s linear;}
.btn:focus{outline:thin dotted #333;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
.btn.active,.btn:active{background-image:none;-webkit-box-shadow:inset 0 2px 4px rgba(0, 0, 0, 0.15),0 1px 2px rgba(0, 0, 0, 0.05);-moz-box-shadow:inset 0 2px 4px rgba(0, 0, 0, 0.15),0 1px 2px rgba(0, 0, 0, 0.05);-o-box-shadow:inset 0 2px 4px rgba(0, 0, 0, 0.15),0 1px 2px rgba(0, 0, 0, 0.05);box-shadow:inset 0 2px 4px rgba(0, 0, 0, 0.15),0 1px 2px rgba(0, 0, 0, 0.05);background-color:#e6e6e6;background-color:#d9d9d9 \9;outline:0;}
.btn.disabled,.btn[disabled]{cursor:default;background-image:none;background-color:#e6e6e6;filter:alpha(opacity=65);-khtml-opacity:0.65;-moz-opacity:0.65;opacity:0.65;-webkit-box-shadow:none;-moz-box-shadow:none;-o-box-shadow:none;box-shadow:none;}
.btn-large{padding:9px 14px;font-size:18px;line-height:normal;-webkit-border-radius:5px;-moz-border-radius:5px;-o-border-radius:5px;border-radius:5px;}
.btn-large [class^="icon-"]{margin-top:1px;}
.btn-small{padding:5px 9px;font-size:14px;line-height:22px;}
.btn-small [class^="icon-"]{margin-top:-1px;}
.btn-mini{padding:2px 6px;font-size:14px;line-height:20px;}
.btn-primary,.btn-primary:hover,.btn-warning,.btn-warning:hover,.btn-danger,.btn-danger:hover,.btn-success,.btn-success:hover,.btn-info,.btn-info:hover,.btn-inverse,.btn-inverse:hover{text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);color:#ffffff;}
.btn-primary.active,.btn-warning.active,.btn-danger.active,.btn-success.active,.btn-info.active,.btn-dark.active{color:rgba(255, 255, 255, 0.75);}
.btn-primary{background-color:#047fdb;background-image:-moz-linear-gradient(top, #049cdb, #0454db);background-image:-ms-linear-gradient(top, #049cdb, #0454db);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#049cdb), to(#0454db));background-image:-webkit-linear-gradient(top, #049cdb, #0454db);background-image:-o-linear-gradient(top, #049cdb, #0454db);background-image:linear-gradient(top, #049cdb, #0454db);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#049cdb', endColorstr='#0454db', GradientType=0);border-color:#0454db #0454db #033790;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);}.btn-primary:hover,.btn-primary:active,.btn-primary.active,.btn-primary.disabled,.btn-primary[disabled]{background-color:#0454db;}
.btn-primary:active,.btn-primary.active{background-color:#0341a9 \9;}
.btn-warning{background-color:#faa732;background-image:-moz-linear-gradient(top, #fbb450, #f89406);background-image:-ms-linear-gradient(top, #fbb450, #f89406);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));background-image:-webkit-linear-gradient(top, #fbb450, #f89406);background-image:-o-linear-gradient(top, #fbb450, #f89406);background-image:linear-gradient(top, #fbb450, #f89406);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbb450', endColorstr='#f89406', GradientType=0);border-color:#f89406 #f89406 #ad6704;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);}.btn-warning:hover,.btn-warning:active,.btn-warning.active,.btn-warning.disabled,.btn-warning[disabled]{background-color:#f89406;}
.btn-warning:active,.btn-warning.active{background-color:#c67605 \9;}
.btn-danger{background-color:#da4f49;background-image:-moz-linear-gradient(top, #ee5f5b, #bd362f);background-image:-ms-linear-gradient(top, #ee5f5b, #bd362f);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));background-image:-webkit-linear-gradient(top, #ee5f5b, #bd362f);background-image:-o-linear-gradient(top, #ee5f5b, #bd362f);background-image:linear-gradient(top, #ee5f5b, #bd362f);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#bd362f', GradientType=0);border-color:#bd362f #bd362f #802420;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);}.btn-danger:hover,.btn-danger:active,.btn-danger.active,.btn-danger.disabled,.btn-danger[disabled]{background-color:#bd362f;}
.btn-danger:active,.btn-danger.active{background-color:#942a25 \9;}
.btn-success{background-color:#5bb75b;background-image:-moz-linear-gradient(top, #62c462, #51a351);background-image:-ms-linear-gradient(top, #62c462, #51a351);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));background-image:-webkit-linear-gradient(top, #62c462, #51a351);background-image:-o-linear-gradient(top, #62c462, #51a351);background-image:linear-gradient(top, #62c462, #51a351);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#62c462', endColorstr='#51a351', GradientType=0);border-color:#51a351 #51a351 #387038;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);}.btn-success:hover,.btn-success:active,.btn-success.active,.btn-success.disabled,.btn-success[disabled]{background-color:#51a351;}
.btn-success:active,.btn-success.active{background-color:#408140 \9;}
.btn-info{background-color:#49afcd;background-image:-moz-linear-gradient(top, #5bc0de, #2f96b4);background-image:-ms-linear-gradient(top, #5bc0de, #2f96b4);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));background-image:-webkit-linear-gradient(top, #5bc0de, #2f96b4);background-image:-o-linear-gradient(top, #5bc0de, #2f96b4);background-image:linear-gradient(top, #5bc0de, #2f96b4);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5bc0de', endColorstr='#2f96b4', GradientType=0);border-color:#2f96b4 #2f96b4 #1f6377;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);}.btn-info:hover,.btn-info:active,.btn-info.active,.btn-info.disabled,.btn-info[disabled]{background-color:#2f96b4;}
.btn-info:active,.btn-info.active{background-color:#24748c \9;}
.btn-inverse{background-color:#393939;background-image:-moz-linear-gradient(top, #454545, #262626);background-image:-ms-linear-gradient(top, #454545, #262626);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#454545), to(#262626));background-image:-webkit-linear-gradient(top, #454545, #262626);background-image:-o-linear-gradient(top, #454545, #262626);background-image:linear-gradient(top, #454545, #262626);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#454545', endColorstr='#262626', GradientType=0);border-color:#262626 #262626 #000000;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);}.btn-inverse:hover,.btn-inverse:active,.btn-inverse.active,.btn-inverse.disabled,.btn-inverse[disabled]{background-color:#262626;}
.btn-inverse:active,.btn-inverse.active{background-color:#0c0c0c \9;}
button.btn,input[type="submit"].btn{*padding-top:2px;*padding-bottom:2px;}button.btn::-moz-focus-inner,input[type="submit"].btn::-moz-focus-inner{padding:0;border:0;}
button.btn.large,input[type="submit"].btn.large{*padding-top:7px;*padding-bottom:7px;}
button.btn.small,input[type="submit"].btn.small{*padding-top:3px;*padding-bottom:3px;}
.btn-group{position:relative;zoom:1;*margin-left:.3em;}.btn-group:before,.btn-group:after{display:table;content:"";zoom:1;}
.btn-group:after{clear:both;}
.btn-group:first-child{*margin-left:0;}
.btn-group+.btn-group{margin-left:5px;}
.btn-toolbar{margin-top:12px;margin-bottom:12px;}.btn-toolbar .btn-group{display:inline-block;*display:inline;*zoom:1;}
.btn-group .btn{position:relative;float:left;margin-left:-1px;-webkit-border-radius:0;-moz-border-radius:0;-o-border-radius:0;border-radius:0;}
.btn-group .btn:first-child{margin-left:0;-webkit-border-top-left-radius:4px;-moz-border-radius-topleft:4px;border-top-left-radius:4px;-webkit-border-bottom-left-radius:4px;-moz-border-radius-bottomleft:4px;border-bottom-left-radius:4px;}
.btn-group .btn:last-child,.btn-group .dropdown-toggle{-webkit-border-top-right-radius:4px;-moz-border-radius-topright:4px;border-top-right-radius:4px;-webkit-border-bottom-right-radius:4px;-moz-border-radius-bottomright:4px;border-bottom-right-radius:4px;}
.btn-group .btn.large:first-child{margin-left:0;-webkit-border-top-left-radius:6px;-moz-border-radius-topleft:6px;border-top-left-radius:6px;-webkit-border-bottom-left-radius:6px;-moz-border-radius-bottomleft:6px;border-bottom-left-radius:6px;}
.btn-group .btn.large:last-child,.btn-group .large.dropdown-toggle{-webkit-border-top-right-radius:6px;-moz-border-radius-topright:6px;border-top-right-radius:6px;-webkit-border-bottom-right-radius:6px;-moz-border-radius-bottomright:6px;border-bottom-right-radius:6px;}
.btn-group .btn:hover,.btn-group .btn:focus,.btn-group .btn:active,.btn-group .btn.active{z-index:2;}
.btn-group .dropdown-toggle:active,.btn-group.open .dropdown-toggle{outline:0;}
.btn-group .dropdown-toggle{padding-left:8px;padding-right:8px;-webkit-box-shadow:inset 1px 0 0 rgba(255, 255, 255, 0.125),inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);-moz-box-shadow:inset 1px 0 0 rgba(255, 255, 255, 0.125),inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);-o-box-shadow:inset 1px 0 0 rgba(255, 255, 255, 0.125),inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);box-shadow:inset 1px 0 0 rgba(255, 255, 255, 0.125),inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);*padding-top:5px;*padding-bottom:5px;}
.btn-group.open{*z-index:1000;}.btn-group.open .dropdown-menu{display:block;margin-top:1px;-webkit-border-radius:5px;-moz-border-radius:5px;-o-border-radius:5px;border-radius:5px;}
.btn-group.open .dropdown-toggle{background-image:none;-webkit-box-shadow:inset 0 1px 6px rgba(0, 0, 0, 0.15),0 1px 2px rgba(0, 0, 0, 0.05);-moz-box-shadow:inset 0 1px 6px rgba(0, 0, 0, 0.15),0 1px 2px rgba(0, 0, 0, 0.05);-o-box-shadow:inset 0 1px 6px rgba(0, 0, 0, 0.15),0 1px 2px rgba(0, 0, 0, 0.05);box-shadow:inset 0 1px 6px rgba(0, 0, 0, 0.15),0 1px 2px rgba(0, 0, 0, 0.05);}
.btn .caret{margin-top:7px;margin-left:0;}
.btn:hover .caret,.open.btn-group .caret{filter:alpha(opacity=100);-khtml-opacity:1;-moz-opacity:1;opacity:1;}
.btn-primary .caret,.btn-danger .caret,.btn-info .caret,.btn-success .caret,.btn-inverse .caret{border-top-color:#ffffff;filter:alpha(opacity=75);-khtml-opacity:0.75;-moz-opacity:0.75;opacity:0.75;}
.btn-small .caret{margin-top:4px;}
form{margin-bottom:24px;}form .input{margin-left:150px;}
form fieldset{margin-bottom:24px;padding-top:24px;}form fieldset legend{display:block;padding-left:160px;font-size:24px;line-height:1;color:#404040;*padding:0 0 5px 155px;*line-height:1.5;margin-bottom:5px;}
form label{padding-top:6px;font-size:16px;line-height:24px;float:left;width:130px;text-align:right;color:#404040;}
form ul{list-style:none;margin:0;zoom:1;}form ul li{margin-bottom:24px;padding:10px;-webkit-border-radius:3px;-moz-border-radius:3px;-o-border-radius:3px;border-radius:3px;}
form ul li:hover,form ul .focused{background-color:#f6f6f6;}
form ul.floated,form ul.check_list{margin-left:150px;}form ul.floated label,form ul.check_list label{display:block;float:none;width:auto;text-align:left;line-height:20px;padding-top:0;}
form ul.floated .input,form ul.check_list .input{margin:3px 0 0;}
form ul.floated li{display:inline-block;padding:10px;}
form.form_stacked ul.floated,form.form_stacked ul.check_list{margin-left:0;}
form.form_stacked .input{margin:3px 0 0;}
form.form_stacked .check_list{margin:0;}
form.form_stacked fieldset{padding-top:12px;}
form.form_stacked legend{padding-left:0;}
form.form_stacked label{display:block;float:none;width:auto;text-align:left;line-height:20px;padding-top:0;}
form.form_stacked .clearfix{margin-bottom:12px;}form.form_stacked .clearfix div.input{margin-left:0;}
form.form_stacked .inputs-list{margin-bottom:0;}form.form_stacked .inputs-list li{padding-top:0;}form.form_stacked .inputs-list li label{font-weight:normal;padding-top:0;}
form.form_stacked div.clearfix.error{padding-top:10px;padding-bottom:10px;padding-left:10px;margin-top:0;margin-left:-10px;}
form.form_stacked .actions{margin-top:20px;padding-left:20px;}
form ul.check_list{list-style:none;clear:both;zoom:1;}form ul.check_list li{float:left;margin-right:15px;margin-bottom:0;-webkit-border-radius:1000px;-moz-border-radius:1000px;-o-border-radius:1000px;border-radius:1000px;}
form ul.check_list input{margin-right:5px;}
form ul.check_list label{display:inline;vertical-align:middle;float:none;}
form ul.check_list label:after,form ul.check_list label::after{content:normal;}
.form_note{position:relative;-webkit-border-radius:10px;-moz-border-radius:10px;-o-border-radius:10px;border-radius:10px;display:inline-block;height:17px;width:17px;line-height:17px;text-align:center;color:#bfbfbf;font-weight:bold;font-size:14px;margin-left:5px;}.form_note:hover{background-color:#e6e6e6;color:#808080;}
.form_note:hover span{display:inline;}
.form_note span{position:absolute;display:none;color:#808080;font-weight:normal;font-style:normal;font-size:11px;text-align:right;z-index:2000;width:125px;left:7px;top:1px;}
.input_full{width:100%;}
input[type=checkbox],input[type=radio]{cursor:pointer;}
input,textarea,select,.uneditable-input{display:inline-block;width:210px;height:24px;padding:4px;font-size:16px;line-height:24px;color:#808080;border:1px solid #ccc;-webkit-border-radius:3px;-moz-border-radius:3px;-o-border-radius:3px;border-radius:3px;}
select{padding:initial;}
input[type=checkbox],input[type=radio]{width:auto;height:auto;padding:0;margin:3px 0;*margin-top:0;line-height:normal;border:none;}
input[type=file]{background-color:#ffffff;padding:initial;border:initial;line-height:initial;-webkit-box-shadow:none;-moz-box-shadow:none;-o-box-shadow:none;box-shadow:none;}
input[type=button],input[type=reset],input[type=submit]{width:auto;height:auto;}
select,input[type=file]{height:36px;*height:auto;line-height:36px;*margin-top:4px;}
select[multiple]{height:inherit;background-color:#ffffff;}
textarea{height:auto;}
.uneditable-input{background-color:#ffffff;display:block;border-color:#eee;-webkit-box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.025);-moz-box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.025);-o-box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.025);box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.025);cursor:not-allowed;}
:-moz-placeholder{color:#bfbfbf;}
::-webkit-input-placeholder{color:#bfbfbf;}
input,textarea{-webkit-transition:border linear 0.2s,box-shadow linear 0.2s;-moz-transition:border linear 0.2s,box-shadow linear 0.2s;-o-transition:border linear 0.2s,box-shadow linear 0.2s;transition:border linear 0.2s,box-shadow linear 0.2s;-webkit-transition:border linear 0.2s,box-shadow linear 0.2s;-moz-transition:border linear 0.2s,box-shadow linear 0.2s;-o-transition:border linear 0.2s,box-shadow linear 0.2s;transition:border linear 0.2s,box-shadow linear 0.2s;-webkit-box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1);-moz-box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1);-o-box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1);box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1);}
input:focus,textarea:focus{outline:0;border-color:rgba(82, 168, 236, 0.8);-webkit-box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1),0 0 8px rgba(82, 168, 236, 0.6);-moz-box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1),0 0 8px rgba(82, 168, 236, 0.6);-o-box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1),0 0 8px rgba(82, 168, 236, 0.6);box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1),0 0 8px rgba(82, 168, 236, 0.6);}
input[type=file]:focus,input[type=checkbox]:focus,select:focus{-webkit-box-shadow:none;-moz-box-shadow:none;-o-box-shadow:none;box-shadow:none;outline:1px dotted #666;}
form .clearfix.error>label,form .clearfix.error .help-block,form .clearfix.error .help-inline{color:#b94a48;}
form .clearfix.error input,form .clearfix.error textarea{color:#b94a48;border-color:#ee5f5b;}form .clearfix.error input:focus,form .clearfix.error textarea:focus{border-color:#e9322d;-webkit-box-shadow:0 0 6px #f8b9b7;-moz-box-shadow:0 0 6px #f8b9b7;-o-box-shadow:0 0 6px #f8b9b7;box-shadow:0 0 6px #f8b9b7;}
form .clearfix.error .input-prepend .add-on,form .clearfix.error .input-append .add-on{color:#b94a48;background-color:#fce6e6;border-color:#b94a48;}
form .clearfix.warning>label,form .clearfix.warning .help-block,form .clearfix.warning .help-inline{color:#c09853;}
form .clearfix.warning input,form .clearfix.warning textarea{color:#c09853;border-color:#ccae64;}form .clearfix.warning input:focus,form .clearfix.warning textarea:focus{border-color:#be9a3f;-webkit-box-shadow:0 0 6px #e5d6b1;-moz-box-shadow:0 0 6px #e5d6b1;-o-box-shadow:0 0 6px #e5d6b1;box-shadow:0 0 6px #e5d6b1;}
form .clearfix.warning .input-prepend .add-on,form .clearfix.warning .input-append .add-on{color:#c09853;background-color:#d2b877;border-color:#c09853;}
form .clearfix.success>label,form .clearfix.success .help-block,form .clearfix.success .help-inline{color:#468847;}
form .clearfix.success input,form .clearfix.success textarea{color:#468847;border-color:#57a957;}form .clearfix.success input:focus,form .clearfix.success textarea:focus{border-color:#458845;-webkit-box-shadow:0 0 6px #9acc9a;-moz-box-shadow:0 0 6px #9acc9a;-o-box-shadow:0 0 6px #9acc9a;box-shadow:0 0 6px #9acc9a;}
form .clearfix.success .input-prepend .add-on,form .clearfix.success .input-append .add-on{color:#468847;background-color:#bcddbc;border-color:#468847;}
.input-mini,input.mini,textarea.mini,select.mini{width:60px;}
.input-small,input.small,textarea.small,select.small{width:90px;}
.input-medium,input.medium,textarea.medium,select.medium{width:150px;}
.input-large,input.large,textarea.large,select.large{width:210px;}
.input-xlarge,input.xlarge,textarea.xlarge,select.xlarge{width:270px;}
.input-xxlarge,input.xxlarge,textarea.xxlarge,select.xxlarge{width:530px;}
textarea.xxlarge{overflow-y:auto;}
input[disabled],select[disabled],textarea[disabled],input[readonly],select[readonly],textarea[readonly]{background-color:#f5f5f5;border-color:#ddd;cursor:not-allowed;}
.actions{background:#f5f5f5;margin-top:24px;margin-bottom:24px;padding:20px ;border-top:1px solid #ddd;-webkit-border-radius:0 0 3px 3px;-moz-border-radius:0 0 3px 3px;-o-border-radius:0 0 3px 3px;border-radius:0 0 3px 3px;}.actions .secondary-action{float:right;}.actions .secondary-action a{line-height:30px;}.actions .secondary-action a:hover{text-decoration:underline;}
.help-inline,.help-block{font-size:16px;line-height:24px;color:#bfbfbf;}
.help-inline{padding-left:5px;*position:relative;*top:-5px;}
.help-block{display:block;max-width:600px;}
.inline-inputs{color:#808080;}.inline-inputs span{padding:0 2px 0 1px;}
.input-prepend input,.input-append input{-webkit-border-radius:0 3px 3px 0;-moz-border-radius:0 3px 3px 0;-o-border-radius:0 3px 3px 0;border-radius:0 3px 3px 0;}
.input-prepend .add-on,.input-append .add-on{position:relative;background:#f5f5f5;border:1px solid #ccc;z-index:2;float:left;display:block;width:auto;min-width:16px;height:18px;padding:4px 4px 4px 5px;margin-right:-1px;font-weight:normal;line-height:18px;color:#bfbfbf;text-align:center;text-shadow:0 1px 0 #ffffff;-webkit-border-radius:3px 0 0 3px;-moz-border-radius:3px 0 0 3px;-o-border-radius:3px 0 0 3px;border-radius:3px 0 0 3px;}
.input-prepend .active,.input-append .active{background:#a9dba9;border-color:#46a546;}
.input-prepend .add-on{*margin-top:1px;}
.input-append input{float:left;-webkit-border-radius:3px 0 0 3px;-moz-border-radius:3px 0 0 3px;-o-border-radius:3px 0 0 3px;border-radius:3px 0 0 3px;}
.input-append .add-on{-webkit-border-radius:0 3px 3px 0;-moz-border-radius:0 3px 3px 0;-o-border-radius:0 3px 3px 0;border-radius:0 3px 3px 0;margin-right:0;margin-left:-1px;}
.inputs_list{margin:0 0 5px;}.inputs_list li{display:block;padding:0;margin-bottom:3px;}
.inputs_list label{display:block;float:none;width:auto;padding:0;line-height:24px;text-align:left;white-space:normal;}.inputs_list label strong{color:#808080;}
.inputs_list label small{font-size:14px;font-weight:normal;}
.inputs_list .inputs_list{margin-left:25px;margin-bottom:10px;padding-top:0;}
.inputs_list:first-child{padding-top:6px;}
.inputs_list li+li{padding-top:2px;}
.inputs_list input[type=radio],.inputs_list input[type=checkbox]{margin:0 5px 0;float:left;}
[class^="icon-"],[class*=" icon-"]{display:inline-block;width:14px;height:14px;line-height:14px;vertical-align:text-top;background-image:url("/img/ui/glyphicons-halflings.png");background-position:14px 14px;background-repeat:no-repeat;*margin-right:.3em;}[class^="icon-"]:last-child,[class*=" icon-"]:last-child{*margin-left:0;}
.icon-white{background-image:url("/img/ui/glyphicons-halflings-white.png");}
.icon-glass{background-position:0 0;}
.icon-music{background-position:-24px 0;}
.icon-search{background-position:-48px 0;}
.icon-envelope{background-position:-72px 0;}
.icon-heart{background-position:-96px 0;}
.icon-star{background-position:-120px 0;}
.icon-star-empty{background-position:-144px 0;}
.icon-user{background-position:-168px 0;}
.icon-film{background-position:-192px 0;}
.icon-th-large{background-position:-216px 0;}
.icon-th{background-position:-240px 0;}
.icon-th-list{background-position:-264px 0;}
.icon-ok{background-position:-288px 0;}
.icon-remove{background-position:-312px 0;}
.icon-zoom-in{background-position:-336px 0;}
.icon-zoom-out{background-position:-360px 0;}
.icon-off{background-position:-384px 0;}
.icon-signal{background-position:-408px 0;}
.icon-cog{background-position:-432px 0;}
.icon-trash{background-position:-456px 0;}
.icon-home{background-position:0 -24px;}
.icon-file{background-position:-24px -24px;}
.icon-time{background-position:-48px -24px;}
.icon-road{background-position:-72px -24px;}
.icon-download-alt{background-position:-96px -24px;}
.icon-download{background-position:-120px -24px;}
.icon-upload{background-position:-144px -24px;}
.icon-inbox{background-position:-168px -24px;}
.icon-play-circle{background-position:-192px -24px;}
.icon-repeat{background-position:-216px -24px;}
.icon-refresh{background-position:-240px -24px;}
.icon-list-alt{background-position:-264px -24px;}
.icon-lock{background-position:-287px -24px;}
.icon-flag{background-position:-312px -24px;}
.icon-headphones{background-position:-336px -24px;}
.icon-volume-off{background-position:-360px -24px;}
.icon-volume-down{background-position:-384px -24px;}
.icon-volume-up{background-position:-408px -24px;}
.icon-qrcode{background-position:-432px -24px;}
.icon-barcode{background-position:-456px -24px;}
.icon-tag{background-position:0 -48px;}
.icon-tags{background-position:-25px -48px;}
.icon-book{background-position:-48px -48px;}
.icon-bookmark{background-position:-72px -48px;}
.icon-print{background-position:-96px -48px;}
.icon-camera{background-position:-120px -48px;}
.icon-font{background-position:-144px -48px;}
.icon-bold{background-position:-167px -48px;}
.icon-italic{background-position:-192px -48px;}
.icon-text-height{background-position:-216px -48px;}
.icon-text-width{background-position:-240px -48px;}
.icon-align-left{background-position:-264px -48px;}
.icon-align-center{background-position:-288px -48px;}
.icon-align-right{background-position:-312px -48px;}
.icon-align-justify{background-position:-336px -48px;}
.icon-list{background-position:-360px -48px;}
.icon-indent-left{background-position:-384px -48px;}
.icon-indent-right{background-position:-408px -48px;}
.icon-facetime-video{background-position:-432px -48px;}
.icon-picture{background-position:-456px -48px;}
.icon-pencil{background-position:0 -72px;}
.icon-map-marker{background-position:-24px -72px;}
.icon-adjust{background-position:-48px -72px;}
.icon-tint{background-position:-72px -72px;}
.icon-edit{background-position:-96px -72px;}
.icon-share{background-position:-120px -72px;}
.icon-check{background-position:-144px -72px;}
.icon-move{background-position:-168px -72px;}
.icon-step-backward{background-position:-192px -72px;}
.icon-fast-backward{background-position:-216px -72px;}
.icon-backward{background-position:-240px -72px;}
.icon-play{background-position:-264px -72px;}
.icon-pause{background-position:-288px -72px;}
.icon-stop{background-position:-312px -72px;}
.icon-forward{background-position:-336px -72px;}
.icon-fast-forward{background-position:-360px -72px;}
.icon-step-forward{background-position:-384px -72px;}
.icon-eject{background-position:-408px -72px;}
.icon-chevron-left{background-position:-432px -72px;}
.icon-chevron-right{background-position:-456px -72px;}
.icon-plus-sign{background-position:0 -96px;}
.icon-minus-sign{background-position:-24px -96px;}
.icon-remove-sign{background-position:-48px -96px;}
.icon-ok-sign{background-position:-72px -96px;}
.icon-question-sign{background-position:-96px -96px;}
.icon-info-sign{background-position:-120px -96px;}
.icon-screenshot{background-position:-144px -96px;}
.icon-remove-circle{background-position:-168px -96px;}
.icon-ok-circle{background-position:-192px -96px;}
.icon-ban-circle{background-position:-216px -96px;}
.icon-arrow-left{background-position:-240px -96px;}
.icon-arrow-right{background-position:-264px -96px;}
.icon-arrow-up{background-position:-289px -96px;}
.icon-arrow-down{background-position:-312px -96px;}
.icon-share-alt{background-position:-336px -96px;}
.icon-resize-full{background-position:-360px -96px;}
.icon-resize-small{background-position:-384px -96px;}
.icon-plus{background-position:-408px -96px;}
.icon-minus{background-position:-433px -96px;}
.icon-asterisk{background-position:-456px -96px;}
.icon-exclamation-sign{background-position:0 -120px;}
.icon-gift{background-position:-24px -120px;}
.icon-leaf{background-position:-48px -120px;}
.icon-fire{background-position:-72px -120px;}
.icon-eye-open{background-position:-96px -120px;}
.icon-eye-close{background-position:-120px -120px;}
.icon-warning-sign{background-position:-144px -120px;}
.icon-plane{background-position:-168px -120px;}
.icon-calendar{background-position:-192px -120px;}
.icon-random{background-position:-216px -120px;}
.icon-comment{background-position:-240px -120px;}
.icon-magnet{background-position:-264px -120px;}
.icon-chevron-up{background-position:-288px -120px;}
.icon-chevron-down{background-position:-313px -119px;}
.icon-retweet{background-position:-336px -120px;}
.icon-shopping-cart{background-position:-360px -120px;}
.icon-folder-close{background-position:-384px -120px;}
.icon-folder-open{background-position:-408px -120px;}
.icon-resize-vertical{background-position:-432px -119px;}
.icon-resize-horizontal{background-position:-456px -118px;}
.carousel_wrapper{position:relative;}
#carousel{overflow:hidden;}#carousel .carousel_item{float:left;}#carousel .carousel_item img{display:block;}
.carousel_paging a{filter:alpha(opacity=70);-khtml-opacity:0.7;-moz-opacity:0.7;opacity:0.7;-webkit-border-radius:40px;-moz-border-radius:40px;-o-border-radius:40px;border-radius:40px;background-color:#fff;display:inline-block;}.carousel_paging a.selected,.carousel_paging a:hover{filter:alpha(opacity=100);-khtml-opacity:1;-moz-opacity:1;opacity:1;}
table{margin-bottom:1.5em;width:100%;max-width:100%;}
thead tr:last-of-type th{border-bottom-width:2px;}
tbody th{border-right-width:2px;}
th:empty{border:none;}
th,td{vertical-align:top;padding:0.75em;border:1px solid #ccc;}
th{font-weight:bold;text-align:center;}
td[colspan]{text-align:center;}
td[rowspan]{vertical-align:middle;}
tbody tr:nth-of-type(odd){background:rgba(0, 0, 0, 0.05);}
tfoot{text-align:center;}
tfoot td{border-top-width:2px;}
pre,code{font-family:monospace;font-size:1em;}
pre{overflow:auto;margin-bottom:1.5em;line-height:24px;padding:10px;line-height:1.2;overflow-x:scroll;-webkit-box-shadow:inset 0px 4px 7px rgba(0, 0, 0, 0.4);-moz-box-shadow:inset 0px 4px 7px rgba(0, 0, 0, 0.4);-o-box-shadow:inset 0px 4px 7px rgba(0, 0, 0, 0.4);box-shadow:inset 0px 4px 7px rgba(0, 0, 0, 0.4);-webkit-border-radius:4px;-khtml-border-radius:4px;-moz-border-radius:4px;border-radius:4px;margin-bottom:20px;margin-top:10px;background:#7e7e7e no-repeat;}
pre code{color:#fff;line-height:1.5;}
code{line-height:1;}
pre,code,kbd,samp{font-family:"Monaco",Courier New,monospace;font-size:16px;font-weight:normal;line-height:24px;}
#logo{display:block;width:auto;height:auto;background:url(/path/to/logo);}
#logo:hover{background-position:0 0;}
a{-webkit-transition:all 0.12s ease-in-out;-moz-transition:all 0.12s ease-in-out;-o-transition:all 0.12s ease-in-out;transition:all 0.12s ease-in-out;-webkit-transition:all 0.12s ease-in-out;-moz-transition:all 0.12s ease-in-out;-o-transition:all 0.12s ease-in-out;transition:all 0.12s ease-in-out;}
@media screen and (min-width:480px){}@media screen and (min-width:768px){}@media screen and (min-width:992px){}@media screen and (min-width:1382px){}.ir{display:block;border:0;text-indent:-999em;overflow:hidden;background-color:transparent;background-repeat:no-repeat;text-align:left;direction:ltr;}
.hidden,.hide{display:none !important;visibility:hidden;}
.show{display:block;}
.visuallyhidden{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px;}
.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus{clip:auto;height:auto;margin:0;overflow:visible;position:static;width:auto;}
.invisible{visibility:hidden;}
.group:before,.group:after,.navi:before,.navi:after,ul.floated:before,ul.floated:after{content:"";display:table;}
.group:after,.navi:after,ul.floated:after{clear:both;}
.group,.navi,ul.floated{zoom:1;}
.left{float:left;}
.right{float:right;}
.clear{clear:both;float:none;}
.mb1{margin-bottom:16px !important;}
.mb2{margin-bottom:24px !important;}
.mb3{margin-bottom:30px !important;}
.mt1{margin-top:16px !important;}
.mt2{margin-top:24px !important;}
.mt3{margin-top:30px !important;}
@media print{*{background:#fff;color:#000;text-shadow:none!important;filter:none !important;-ms-filter:none !important;} #container{width:75%;margin:0 auto;font-size:0.75em;} #nav,#footer{display:none;} #logo img{position:static;} .column{width:auto;float:none;} img{max-width:100%;height:auto;} a,a:visited{color:#444 !important;text-decoration:underline;} a[href]:after{content:" (" attr(href) ")";font-size:smaller;} abbr[title]:after{content:" (" attr(title) ")";font-size:smaller;} .ir a:after,a[href^="javascript:"]:after,a[href^="#"]:after{content:"";} pre,blockquote{border:1px solid #999;page-break-inside:avoid;} thead{display:table-header-group;} tr,img{page-break-inside:avoid;} @page {margin:0.5cm;}p,h2,h3{orphans:3;widows:3;} h2,h3,table{page-break-after:avoid;}}
