/*------------------------------------------*/
/*--- TABLE OF CONTENTS ---*/
/*------------------------------------------
:: CSS3
:: HOME / LANDING
:: Page Name 2
*/


/*------------------------------------------*/
/*--- CSS3 ---*/
/*------------------------------------------*/
/*Transitions*/
a {
-webkit-transition: all 0.12s ease-in-out;
   -moz-transition: all 0.12s ease-in-out;
	 -o-transition: all 0.12s ease-in-out;
		transition: all 0.12s ease-in-out;
}
/*Border Radius*/
.floated li {
-webkit-border-radius: 5px;
 -khtml-border-radius: 5px;
   -moz-border-radius: 5px;
		border-radius: 5px;
}


/*------------------------------------------*/
/*--- HOME / LANDING ---*/
/*------------------------------------------*/






/*------------------------------------------*/
/*--- ABOUT ---*/
/*------------------------------------------*/








/*-------------------------------------------*/
/*--- Media queries for responsive design ---*/
/*-------------------------------------------*/
/*--- 480> ---*/
@media screen and (min-width: 480px) {

#logo{
		margin:0 auto 1.5em;
}
}/*/mediaquery*/
/*--- end 480> ---*/



/*--- 768> ---*/
@media screen and (min-width: 768px) {

}/*/mediaquery*/
/*--- end 768> ---*/



/*--- 992> ---*/
@media screen and (min-width: 992px){

}/*/mediaquery*/
/*--- end 992> ---*/


/*--- 1382> ---*/
@media screen and (min-width: 1382px){

}/*/mediaquery*/
/*--- end 1382> ---*/